.home {
    height: 100vh;

    .header {
        height: 62px;
        padding-top: 10px;
        padding-bottom: 10px;

        img {
            height: 100%;
        }

        h1 {
            margin-left: 10px;
            margin-bottom: 0;
        }
    }

    .content {
        min-height: fit-content;
        flex: 1;
    }

    .footer {
        height: 68px;
        max-width: 1000px;
    }
}