{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>

  {% compress css %}
  <link type="text/x-scss" href="{% static 'styles/base.scss' %}" rel="stylesheet" media="screen">
  {% endcompress %}
  {% block header %}{% endblock header %}
</head>

<body>
  {% block content %}{% endblock content %}
</body>

</html>