{% regroup commits by committed_datetime.date as commit_list %}
<ul class="p-0">
    {% for commits_by_date in commit_list  %}
    <li class="py-2 border-left fs-small" style="border-width:2px !important">
        <div class="d-flex pb-2">
            <div class="bg-white " style="margin-left:-8px"><i class="bi bi-plus-circle-fill text-secondary"></i></div>
            <span class="ml-3 ">Commits on {{ commits_by_date.grouper  }}:</span>
        </div>
        <ul class="p-0 ml-4 border rounded">
            {% for commit in commits_by_date.list %}
            <li {% if commit != commits_by_date.list|first %}class="border-top" {% endif %}>
                {% include 'hub/common/commit.html' %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>