{% load hub_filters humanize %}
<div class="d-flex col-12">
  <table style="width: 100%">
    <tr style="width: 100%">
      <td style="width: 40%">{{label.name}}</td>
      <td style="width: 40%">{{label.description}}</td>
      <td style="width: 10%"><a href="{% url 'edit_label' repository.creator.username repository.name label.name %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
      <td style="width: 10%"><a href="{% url 'remove_label' repository.creator.username repository.name label.name %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
    </tr>
  </table>
</div>