* {
    box-sizing: border-box;
}

.bg-danger-light {
    background-color: rgba(248, 81, 73, 0.15);
}

.bg-success-light {
    background-color: rgba(46, 160, 67, 0.15);
}

.bg-primary-light {
    background-color: #ddf4ff
}

.bg-danger-medium {
    background-color: #FFD7D5;
}

.bg-success-medium {
    background-color: #CCFFD8;
}

.bg-primary-medium {
    background-color: rgba(84, 174, 255, 0.4);
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

a:hover .link-hover {
    color: var(--primary);
}

a:hover .link-hover-underline {
    color: var(--primary);
    text-decoration: underline;
}

a:hover button.link-hover-underline {
    background-color: var(--primary) !important;
    text-decoration: none;
    color: var(--white);
    border-color: var(--primary) !important;
}

.fs {
    font-size: 16px;
}

.fs-small {
    font-size: 14px;
}

.fs-xs {
    font-size: 12px;
}

.centered-content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.centered-content-s {
    width: 100%;
    max-width: 768px;
    margin: 40px auto;
    padding: 0 16px;
}

.btn.hub {
    height: 38px;
    min-width: 90px;
    margin-left: 10px;
}

.initials-image {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;

    &.initials-s {
        width: 36px;
        height: 36px;
        font-size: 1.2em;
        font-weight: 500;
    }
}

.ignore-asterics .asteriskField {
    display: none;
}

.flex-auto {
    flex: auto !important;
}

.mw-0 {
    min-width: 0 !important;
}

.mh-0 {
    min-height: 0 !important;
}

.mb-5 {
    margin-bottom: 2.3rem !important;
}

.mt-5 {
    margin-top: 2.3rem !important;
}

.hidden {
    visibility: hidden;
}

.hide-first-border {
    border: 0 !important;
}

.artefact-form {
  label {
    font-size: 14px;
    font-weight: 600;
  }

.inline {
   display:inline;
}

}