* {
    box-sizing: border-box;
}

html,
body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

a:hover .link-hover {
    color: var(--primary)
}

a:hover .link-hover-underline {
    color: var(--primary);
    text-decoration: underline;
}

.fs {
    font-size: 16px;
}

.fs-small {
    font-size: 14px;
}

.centered-content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.centered-content-s {
    width: 100%;
    max-width: 768px;
    margin: 40px auto;
    padding: 0 16px;
}

.btn.hub {
    height: 38px;
    min-width: 90px;
    margin-left: 10px;
}

.initials-image {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: 500;

    &.initials-s {
        width: 36px;
        height: 36px;
        font-size: 1.2em;
        font-weight: 500;
    }
}

.ingore-asterics .asteriskField {
    display: none;
}

.flex-auto {
    flex: auto !important;
}

.mw-0 {
    min-width: 0 !important;
}

.mh-0 {
    min-height: 0 !important;
}