{% extends 'hub/hub-base.html' %}
{% load compress static thumbnail %}
{% block header %}
{{ block.super }}
{% compress css %}
<link type="text/x-scss" href="{% static 'styles/hub/home-hub.scss' %}" rel="stylesheet" media="screen" />
{% endcompress %}
{% endblock %}
{% block hubcontent %}
<div class="d-flex flex-row home-hub-container">

    <div class="navigation">

        <div class="d-flex py-3 justify-content-between border-bottom align-items-center">
            <div class="input-group-sm mw-0" style="flex: 1">
                <input type="text" class="form-control w-100" placeholder="Find a repository...">
            </div>
            {% if request.user.is_authenticated and request.user == user %}
            <a href="{% url 'new-repo' %}" class="ml-3">
                <button type="button" class="btn d-flex btn-sm btn-success px-3">
                    <i class="bi bi-journal-bookmark mr-2"></i>
                    New
                </button>
            </a>
            {% endif %}
        </div>

        <ul class="p-0">
            {% for repository in repositories %}
            <li class="d-flex py-4 border-bottom">
                <div class="col-10">
                    <div class="d-flex mb-1 align-items-center">
                        <h3 class="wb-break-all" style="font-size:15px">
                            <a href="{% url 'repository' repository.creator.username repository.name %}">{{repository.name}}</a>
                        </h3>
                        <span class="badge badge-pill badge-secondary ml-3 px-2">
                            {% if repository.private %}Private{% else %}Public{% endif %}
                        </span>
                    </div>
                    <div>
                        {% if repository.description %}
                        <p class="col-9 d-inline-block color-fg-muted mb-2 pl-0 pr-4" style="font-size:10px">
                            {{repository.description}}
                        </p>
                        {% endif %}
                    </div>

                </div>
                <div class="col-2"></div>
            </li>
            {% endfor %}
        </ul>



    </div>

    <div class="verticalLine"></div>



    <div class="main-content">

    </div>

</div>



</div>


{% endblock hubcontent  %}
