{% extends 'hub/hub-base.html' %}
{% load  crispy_forms_tags static compress %}



{% block title %}
Create a New Milestone
{% endblock title %}



{% block hubcontent %}
<div class="centered-content-s create-repo-content">
  <div class="pb-3 mb-4 border-bottom">
    <h1 class="h3">Create a new Milestone</h1>
    <p style="font-size:14px">
      Create a new milestone to help organize your issues and pull requests.
    </p>
  </div>

  <form
    method="post"
    class="position-relative"
  >
    {% csrf_token %}
    {{form | crispy}}

    <div class="pt-3 mt-4 d-flex justify-content-end">
      <button
        type="submit"
        class="btn btn-success"
      >Create milestone</button>
    </div>
  </form>
</div>

{% endblock hubcontent %}