{% load hub_filters humanize %}

<div class="d-flex col-12">
    <div>
        <span
          class="badge badge-pill badge-primary ml-3 p-1 mt-1 fs"
          style="height:24px; width:24px"
        >
            <i class="bi bi-signpost"></i>
        </span>
    </div>

    <div class="col-8 pl-2 mw-0 flex-auto" style="max-width:unset" >
        <div class="d-flex mb-1 align-items-center mt-2">
            <h3 class="text-truncate fs h4 m-0">
                <a href="{% url 'milestone' repository.creator.username repository.name milestone.id %}">
                    <b class="link-hover-underline">{{milestone.name}}</b>
                </a>
            </h3>


        </div>
 <div class="progress" >
          <div class="progress-bar" role="progressbar" style=" width: {% milestone_percent milestone %}%;" aria-valuenow="{% milestone_percent milestone %}" aria-valuemin="0" aria-valuemax="100">{% milestone_percent milestone %}%</div>
        </div>
        <p class="col-9 d-inline-block color-fg-muted pl-0 pr-4 fs-small">
            <i class="bi bi-clock"></i> Created {{milestone.created_at|naturaltime}}
        </p>
        <p class="col-9 d-inline-block color-fg-muted pl-0 pr-4 fs-small">
            <i class="bi bi-calendar"></i> Due by {{milestone.due_date}}
        </p>
    </div>


<a href="{% url 'edit_milestone' repository.creator.username repository.name milestone.id %}">
    <div class="col-3 p-0">
        <div class="col-12 d-flex h-100 p-0">
          <div class="col-4 d-flex align-items-center justify-content-end px-1"></div>
              <div class="col-3 d-flex align-items-center justify-content-end px-1">

                   <button type="submit" class="d-flex pl-0 mb-0 inline btn btn-sm btn-outline-secondary" >
                        <i class="mx-2 bi bi-pen"></i>  <div class="fs-small ">edit</div>
                        </button>

              </div>
          <div class="col-4 d-flex align-items-center justify-content-end px-1"></div>
        </div>
    </div>
</a>

        <div class="col-3 p-0">
            <div class="col-12 d-flex h-100 p-0">
              <div class="col-4 d-flex align-items-center justify-content-end px-1"></div>
                  <div class="col-3 d-flex align-items-center justify-content-end px-1">
                    <form
                        method="post"
                      action="{% url 'delete_milestone' repository.creator.username repository.name milestone.id %}"
                      style="width:20px;height:20px"
                    >
                        {% csrf_token %}
                        <button type="submit" class="d-flex pl-0 mb-0 inline btn btn-sm btn-outline-secondary" >
                        <i class="mx-2 bi bi-trash"></i>  <div class="fs-small ">delete</div></span>
                        </button>
                  </form>
                  </div>

            </div>
        </div>

        <div class="col-3 p-0">
            <div class="col-12 d-flex h-100 p-0">
              <div class="col-4 d-flex align-items-center justify-content-end px-1"></div>
                  <div class="col-3 d-flex align-items-center justify-content-end px-1">
                    <form
                        method="post"
                      action="{% url 'close_reopen_milestone' repository.creator.username repository.name milestone.id %}"
                      style="width:20px;height:20px"
                    >
                    {% csrf_token %}

                       {% if not request.GET.state or request.GET.state == 'open'%}
                       <button type="submit" class="d-flex pl-0 mb-0 inline btn btn-sm btn-outline-secondary" >
                       <i class="mx-2 bi bi-check2-all "></i>
                           close
                       </button>
                       {% endif %}

                        {% if request.GET.state == 'closed'%}
                            <button type="submit" class="d-flex pl-0 mb-0 inline btn btn-sm btn-outline-secondary" >
                                <i class="mx-2 bi bi-envelope-open "></i>
                                reopen
                            </button>
                       {% endif %}

                    </form>


                    <div class="d-flex col-12 pr-0">



                  </div>
            </div>
        </div>
</div>


