{% extends 'hub/repository/base.html' %}
{% load hub_filters %}


{% block repocontent %}
<div class="d-flex pb-3 justify-content-between align-items-center">
  <h1 class="mx-2 bi bi-signpost">{{ milestone.name }}</h1>
  {% if request.user.is_authenticated and request.user == user %}
  <a
    href="{% url 'add_new_issue_to_milestone' repository.creator.username repository.name id %}"
    class="ml-3"
  >
    <button
      type="button"
      class="btn d-flex btn-sm btn-success px-3"
    >
      Add new issue to this milestone
    </button>
  </a>
  {% endif %}
</div>

<div class="d-flex col-12 pr-0">
  <div
    class="col-7 pl-1 mw-0 flex-auto"
    style=" padding-bottom: 40px max-width:unset"
  >
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style=" width: {{ percentage }}%;"
        aria-valuenow="{{ percentage }}"
        aria-valuemin="0"
        aria-valuemax="100"
      >{{ percentage }}%</div>
    </div>
  </div>
</div>

<br>

<div class="border rounded-top p-3">
  <div class="d-flex col-12 pr-0">
    <div
      class="col-7 pl-1 mw-0 flex-auto"
      style="max-width:unset"
    >
      <a
        href="{% url 'milestone' repository.creator.username repository.name id%}?state=open"
        {% if not request.GET.state or request.GET.state == 'open'%}
        class="font-weight-bold"
        {% endif %}
      >
        <i class="bi bi-signpost"></i>
        {% if not request.GET.state or request.GET.state == 'open'%}{{artefacts|length}}{% endif %}
        Open
      </a>
      <a
        href="{% url 'milestone' repository.creator.username repository.name id %}?state=closed"
        class="ml-3{% if request.GET.state == 'closed' %} font-weight-bold{% endif %}"
      >
        <i class="bi bi-check-circle"></i>
        {% if request.GET.state == 'closed' %}{{artefacts|length}}{% endif %}
        Closed
      </a>
    </div>

  </div>
</div>

{% if artefacts %}
<ul class="p-0 border-left border-right">
  {% for artefact in artefacts %}
  <li class="d-flex py-1 border-bottom">
    {% include 'hub/common/artefact-inline.html' %}
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="border p-5 border-top-0 d-flex justify-content-center align-items-center">
  <h2 class="py-5">No results!</h2>
</div>
{% endif %}
{% endblock repocontent %}}