{% load hub_filters humanize %}

<div class="d-flex col-12 py-3">
  <div>
    <span
      class="badge badge-pill badge-primary ml-3 p-1 mt-1 fs"
      style="height:24px; width:24px"
    >
      <i class="bi bi-signpost"></i>
    </span>
  </div>

  <div
    class="col-7 pl-2 mw-0 flex-auto"
    style="max-width:unset"
  >
    <div class="d-flex mb-1 align-items-center mt-2">
      <h3 class="text-truncate fs h4 m-0">
        <a href="{% url 'milestone' repository.creator.username repository.name milestone.id %}">
          <b class="link-hover-underline">{{milestone.name}}</b>
        </a>
      </h3>


    </div>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style=" width: {% milestone_percent milestone %}%;"
        aria-valuenow="{% milestone_percent milestone %}"
        aria-valuemin="0"
        aria-valuemax="100"
      >{% milestone_percent milestone %}%</div>
    </div>
    <p class="col-9 d-inline-block color-fg-muted pl-0 pr-4 fs-small">
      <i class="bi bi-clock"></i> Created {{milestone.created_at|naturaltime}}
    </p>
    <p class="col-9 d-inline-block color-fg-muted pl-0 pr-4 fs-small">
      <i class="bi bi-calendar"></i> Due by {{milestone.due_date}}
    </p>
  </div>

  <div class="col-5 d-flex justify-content-end align-items-center pr-0">
    <a
      class="mx-3"
      href="{% url 'edit_milestone' repository.creator.username repository.name milestone.id %}"
    >
      <button
        type="submit"
        class="d-flex px-3 mb-0 inline btn btn-sm btn-outline-secondary"
      >
        <i class="mr-2 bi bi-pen"></i>
        <div class="fs-small ">Edit</div>
      </button>
    </a>

    <div class="mx-3 p-0">
      <form
        method="post"
        action="{% url 'delete_milestone' repository.creator.username repository.name milestone.id %}"
      >
        {% csrf_token %}
        <button
          type="submit"
          class="d-flex px-3 mb-0 inline btn btn-sm btn-outline-secondary"
        >
          <i class="mr-2 bi bi-trash"></i>
          <div class="fs-small ">Delete</div></span>
        </button>
      </form>
    </div>

    <div class="mx-3">
      <form
        method="post"
        action="{% url 'close_reopen_milestone' repository.creator.username repository.name milestone.id %}"
      >
        {% csrf_token %}
        {% if not request.GET.state or request.GET.state == 'open'%}
        <button
          type="submit"
          class="d-flex px-3 mb-0 inline btn btn-sm btn-outline-secondary"
        >
          <i class="mr-2 bi bi-check2-all "></i>
          close
        </button>
        {% endif %}

        {% if request.GET.state == 'closed'%}
        <button
          type="submit"
          class="d-flex pl-0 mb-0 inline btn btn-sm btn-outline-secondary"
        >
          <i class="mx-2 bi bi-envelope-open "></i>
          reopen
        </button>
        {% endif %}

      </form>
    </div>
  </div>
</div>