{% extends 'hub/repository/base.html' %}
{% load hub_filters %}

{% block repocontent %}
<div class="d-flex pb-3 justify-content-between align-items-center">
  <form
    method="get"
    class="input-group input-group-sm mw-0"
    style="flex: 1"
  >
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
    </div>
    <input
      name="q"
      type="text"
      class="form-control"
      placeholder="Search a {% if ispr %}pull requests{% else %}issues{% endif %}"
      value="{{query}}"
    >
  </form>

<a href="{% url 'milestones' repository.creator.username repository.name %}">
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary px-3 ml-3"
      name="repo_id"
      value="{{ repository.pk }}"
    >
      <i class="bi bi-signpost mx-1"></i>
      Milestones
      {% with repository|milestonecount as milestone_count %}
      <span class="mx-1 badge badge-pill badge-secondary">
        {{milestone_count}}
      </span>
      {% endwith %}
    </button>
</a>

  {% if request.user.is_authenticated and request.user == user %}
  <div class="ml-2 pl-2 d-none d-md-flex btn-group">
  <nav class="subnav-links float-left d-flex no-wrap" aria-label="Issue">
    <a class="js-selected-navigation-item subnav-item" href="{% url 'labels' repository.creator.username repository.name %}">
      <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-tag">
        <path fill-rule="evenodd" d="M2.5 7.775V2.75a.25.25 0 01.25-.25h5.025a.25.25 0 01.177.073l6.25 6.25a.25.25 0 010 .354l-5.025 5.025a.25.25 0 01-.354 0l-6.25-6.25a.25.25 0 01-.073-.177zm-1.5 0V2.75C1 1.784 1.784 1 2.75 1h5.025c.464 0 .91.184 1.238.513l6.25 6.25a1.75 1.75 0 010 2.474l-5.026 5.026a1.75 1.75 0 01-2.474 0l-6.25-6.25A1.75 1.75 0 011 7.775zM6 5a1 1 0 100 2 1 1 0 000-2z"></path>
      </svg>
      Labels
      <span title="10" data-view-component="true" class="Counter d-none d-md-inline">{{labelscount}}</span>
    </a>  
    <a class="js-selected-navigation-item subnav-item" href="#">
      <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-milestone">
        <path fill-rule="evenodd" d="M7.75 0a.75.75 0 01.75.75V3h3.634c.414 0 .814.147 1.13.414l2.07 1.75a1.75 1.75 0 010 2.672l-2.07 1.75a1.75 1.75 0 01-1.13.414H8.5v5.25a.75.75 0 11-1.5 0V10H2.75A1.75 1.75 0 011 8.25v-3.5C1 3.784 1.784 3 2.75 3H7V.75A.75.75 0 017.75 0zm0 8.5h4.384a.25.25 0 00.161-.06l2.07-1.75a.25.25 0 000-.38l-2.07-1.75a.25.25 0 00-.161-.06H2.75a.25.25 0 00-.25.25v3.5c0 .138.112.25.25.25h5z"></path>
      </svg>
      Milestones
      <span title="1" data-view-component="true" class="Counter d-none d-md-inline">{{milestonescount}}</span>
    </a>
  </nav>
  </div>
  {% if ispr %}
  <a
    href="{% url 'compare' repository.creator.username repository.name %}"
    class="ml-3"
  >
    <button
      type="button"
      class="btn d-flex btn-sm btn-success px-3"
    >
      New pull request
    </button>
  </a>
  {% else %}
  <a
    href="{% url 'create-issue' repository.creator.username repository.name %}"
    class="ml-3"
  >
    <button
      type="button"
      class="btn d-flex btn-sm btn-success px-3"
    >
      New issue
    </button>
  </a>
  {% endif %}
  {% endif %}
</div>

{% if not is_default_query %}
<div class="d-flex mb-3">
  <a
    class="d-flex align-items-center"
    href="
  {% if ispr %}
  {% url 'pull-requests' repository.creator.username repository.name %}
  {% else %}
  {% url 'issues' repository.creator.username repository.name %}
  {% endif %}
  "
  >
    <button
      class="link-hover-underline btn btn-secondary btn-sm p-0 fs"
      style="width:18px;height:18px"
    >
      <i class="bi bi-x d-flex justify-content-center align-items-center"></i>
    </button>
    <span class="ml-1 fs-small link-hover-underline font-weight-bold">Clear current search query, filters, and
      sorts</span>
  </a>
</div>
{% endif %}

<div class="border rounded-top p-3">
  <div class="d-flex col-12 pr-0">
    <div
      class="col-7 pl-1 mw-0 flex-auto"
      style="max-width:unset"
    >
      <a
        {% if ispr %}
        href="{% url 'pull-requests' repository.creator.username repository.name %}?q={{queries.open|urlencode}}"
        {% else %}
        href="{% url 'issues' repository.creator.username repository.name %}?q={{queries.open|urlencode}}"
        {% endif %}
        {% if query|queryinclude:'is:open'%}
        class="font-weight-bold"
        {% endif %}
      >

        {% if ispr %}
        <i class="bi bi-bezier2"></i>
        {% else %}
        <i class="bi bi-record-circle"></i>
        {% endif %}
        {% if query|queryinclude:'is:open'%}{{artefacts|length}}{% endif %}
        Open
      </a>
      <a
        {% if ispr %}
        href="{% url 'pull-requests' repository.creator.username repository.name %}?q={{queries.closed|urlencode}}"
        {% else %}
        href="{% url 'issues' repository.creator.username repository.name %}?q={{queries.closed|urlencode}}"
        {% endif %}
        class="ml-3{% if query|queryinclude:'is:closed' %} font-weight-bold{% endif %}"
      >
        <i class="bi bi-check-circle"></i>
        {% if query|queryinclude:'is:closed' %}{{artefacts|length}}{% endif %}
        Closed
      </a>
    </div>
    <div class="col-5 p-0">
      {% include 'hub/common/pr-issue-filter-bar.html' %}
    </div>
  </div>
</div>

{% if artefacts %}
<ul class="p-0 border-left border-right">
  {% for artefact in artefacts %}
  <li class="d-flex py-1 border-bottom">
    {% include 'hub/common/artefact-inline.html' %}
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="border p-5 border-top-0 d-flex justify-content-center align-items-center">
  <h2 class="py-5">No results!</h2>
</div>
{% endif %}
{% endblock repocontent %}}