{% extends 'hub/repository/base.html' %}

{% block repocontent %}
<div class="d-flex mb-3">
  <div class="dropdown">
    <a
      class="main-content-branches text-truncate btn btn-secondary btn-sm dropdown-toggle pl-3 pr-4"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
    >
      <i class="bi bi-diagram-2"></i>
      {{branch}}
    </a>
    <div class="dropdown-menu">
      {% for brch in repo.branches %}
      <a
        class="dropdown-item"
        href="{% url 'branch-commits' repository.creator.username repository.name brch.name %}"
      >
        <i class="bi bi-check-lg{% if brch.name != branch %} hidden{% endif %}"></i>
        {{ brch.name }}
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% include 'hub/common/commits.html' %}
{% endblock repocontent %}}