{% extends 'hub/repository/base.html' %}
{% load humanize static hub_filters %}

{% block header %}
{{block.super}}
<style>
    .centered-content {
        max-width: unset;
        padding: 0 32px;
    }
</style>
{% endblock header %}

{% block repocontent %}
<div class="border rounded">
    <div class="px-3 py-2 bg-light"><b>{{commit.message}}</b></div>
    <div class="p-3 border-top fs-small d-flex justify-content-between">
        <div class="d-flex">
            {% with repository|userordefault:commit.author as username %}
            {% if username %}
            <a class="d-flex mr-1 align-items-center" href="{% url 'profile' username %}">
                <div style="width:20px;height:20px">
                    {% with commit.author as user %}
                    <span>{% include 'hub/common/profile-picture.html' %}</span>
                    {% endwith %}
                </div>
                <b class="link-hover-underline ml-1">{{username}}</b>
            </a>
            {% else %}
            <div class="d-flex mr-1" style="width:20px;height:20px">
                <img src="{% static 'img/hub-icon.svg' %}" alt="Hub icon">
            </div>
            <b class="link-hover-underline mr-1">{{commit.author.name}}</b>
            {% endif %}
            {% endwith %}
            commited {{commit.committed_datetime|naturaltime}}
        </div>
        <div class="d-flex align-items-center">
            <span>commit:</span>
            <b class="ml-1">{{commit.binsha|base64|decode:'utf-8'}}</b>
        </div>
    </div>
</div>
<div class="my-3 fs-small">
    Showing
    <b>{{commit.stats.total.files}} changed file</b>
    with <b>{{commit.stats.total.insertions}} additions</b> and
    <b>{{commit.stats.total.deletions}} deletions</b>.
</div>

{% for stat in commit.stats.files.keys  %}
{% if ' => ' in stat %}
<div class="border rounded mb-3">
    <div class="px-3 py-2 bg-light fs-small">
        <b>{{ stat|split:' => '|first }}</b> renamed to <b>{{ stat|split:' => '|last }}</b>
    </div>
</div>
{% endif %}
{% endfor %}

{% for diff in diffs %}
{% if diff.deleted_file %}
<div class="border rounded mb-3">
    <div class="px-3 py-2 bg-light fs-small">
        <b>{{ diff|pathfromdiff }}</b> file deleted
    </div>
</div>
{% else %}
<div class="border rounded mb-3">
    {% with diff|pathfromdiff as path %}
    {% with inserted=commit.stats.files|diff_inserted:path deleted=commit.stats.files|diff_deleted:path  %}
    <div class="px-3 py-2 bg-light fs-small">
        {% if inserted or deleted %}
        {% if deleted %}
        <span class="badge badge-pill badge-danger">-{{deleted}}</span>
        {% endif %}
        {% if inserted %}
        <span class="badge badge-pill badge-success">+{{inserted}}</span>
        {% endif %}
        {% else %}
        <span class="badge badge-pill badge-success">created</span>
        {% endif %}
        {{path}}
    </div>
    {% if inserted or deleted %}
    <div class="border-top fs-xs">
        {% with splitted|byindex:forloop.counter0|getlineindexes as line_indexes %}
        {% for line in splitted|byindex:forloop.counter0 %}
        {% with minus=line_indexes|byindex:forloop.counter0|byindex:0 plus=line_indexes|byindex:forloop.counter0|byindex:1 %}
        {% if not line|startswith:'\\' %}
        <div class="d-flex">
            <div
                class="d-flex {% if not minus and plus %} bg-success-medium{% elif not plus and minus%} bg-danger-medium{% elif not plus and not minus%} py-2 bg-primary-medium{% endif %}">
                <div class="text-muted px-2" style="width:50px; text-align:end; font-family: Consolas;">{{minus}}</div>
                <div class="text-muted px-2" style="width:50px; text-align:end; font-family: Consolas;">{{plus}}</div>
            </div>
            <div class="pl-1 flex-auto {% if not minus and plus %} bg-success-light{% elif not plus and minus%} bg-danger-light{% elif not plus and not minus%} py-2 bg-primary-light{% endif %}"
                style="white-space:pre-wrap; line-height:20px;">{{line}}</div>
        </div>
        {% endif %}
        {% endwith %}
        {% endfor %}
        {% endwith %}
    </div>
    {% endif %}
    {% endwith %}
    {% endwith %}
</div>
{% endif %}
{% endfor %}
{% endblock repocontent %}