{% extends 'hub/repository/base.html' %}
{% load hub_filters %}

{% block repocontent %}
<div class="d-flex pb-3 justify-content-between align-items-center">
  <form method="get" class="input-group input-group-sm mw-0" style="flex: 1">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
    </div>
    <input name="q" type="text" class="form-control " placeholder="Find a repository..." value="{{query}}">
  </form>
  {% if request.user.is_authenticated and request.user == user %}
  <a href="{% url 'create-issue' repository.creator.username repository.name %}" class="ml-3">
    <button type="button" class="btn d-flex btn-sm btn-success px-3">
      New Issue
    </button>
  </a>
  {% endif %}
</div>

<div class="border rounded-top p-3">
  <div class="d-flex col-12 pr-0">
    <div class="col-7 pl-1 mw-0 flex-auto" style="max-width:unset">
      <a href="{% url 'issues' repository.creator.username repository.name %}?q={{queries.open|urlencode}}"
        {% if query|stringformat:'s'|queryinclude:'is:open'%}class="font-weight-bold" {% endif %}>
        <i class="bi bi-record-circle"></i>
        {% if query|stringformat:'s'|queryinclude:'is:open'%}{{artefacts|length}}{% endif %}
        Open
      </a>
      <a href="{% url 'issues' repository.creator.username repository.name %}?q={{queries.closed|urlencode}}"
        class="ml-3{% if query|stringformat:'s'|queryinclude:'is:closed' %} font-weight-bold{% endif %}">
        <i class="bi bi-check-circle"></i>
        {% if query|stringformat:'s'|queryinclude:'is:closed' %}{{artefacts|length}}{% endif %}
        Closed
      </a>
    </div>
    <div class="col-5 p-0">
      {% with ispr=False %}
      {% include 'hub/common/pr-issue-filter-bar.html' %}
      {% endwith %}
    </div>
  </div>
</div>

{% if artefacts %}
<ul class="p-0 border-left border-right">
  {% for artefact in artefacts %}
  <li class="d-flex py-1 border-bottom">
    {% include 'hub/common/artefact.html' %}
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="border p-5 border-top-0 d-flex justify-content-center align-items-center">
  <h2 class="py-5">No results!</h2>
</div>
{% endif %}
{% endblock repocontent %}}