{% extends 'hub/repository/base.html' %}
{% load static compress crispy_forms_tags%}

{% block header %}
{{ block.super }}
{% compress css %}
<link type="text/x-scss" href="{% static 'styles/hub/repository/base.scss' %}" rel="stylesheet" media="screen" />
{% endcompress %}
{% endblock header %}

{% block repocontent %}
    <form class="d-flex w-100 h-100 ignore-asterics" method="post">
    {% csrf_token %}
    <div class="main-content d-flex mr-4 flex-column">
        {{ issue_form.name | as_crispy_field }}
        {{ comment_form | crispy }}
        <button class="btn btn-success" style="align-self:end" type="submit">Create</button>
    </div>
    <div class="about-side-bar">
        <div class="pb-3">
            {{ issue_form.assignees | as_crispy_field }}
        </div>
    </div>
    </form>
{% endblock %}

