.code-wrpper {
    .col-md-2 {
        min-width: 20%;
    }

    .col-5 {
        width: 41.666667%;
        max-width: unset;
    }

    .main-content .main-content-branches {
        display: inline-block;
        max-width: 165px;
        vertical-align: top;

        &::after {
            position: absolute;
            right: 10px;
            top: 14px;
        }
    }

    .content-header {
        height: fit-content;

        .clone {
            width: 400px;
        }
    }
}
